
:root {
    --var-bright: white;
    --var-blue: #5003C0;
}

*::before,*::after,*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    box-sizing: inherit;
    font-family: "dm sans";
}

body {
    background-color: var(--var-bright);

}
   
 header {
    background-color: var(--var-blue);
    width: 90%;
    max-width: 1000px;
    padding: 1rem;
    margin: 2cqi auto;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
 }

 header p {
    color: white;
    font-weight: 600;
 }


 main {
    margin: 5% auto;
    text-align: center;
 }

 .intro {
    font-family: "montserrat";
    font-size: clamp(2.3rem,5vw,5rem);
 }

 .service {
    font-weight: 600;
    margin-top: 1rem;
    color: rgb(104, 103, 103);
 }

 form {
   width: 70%;
   max-width: 900px;
   display: flex;
   align-items: center;
   justify-content: center;
   margin: 0 auto;
   margin-top: 3rem;
   gap: 1rem
 }


 .submit {
   padding: .5em .7em;
   font-size: clamp(.8rem,4.5vw,1.4rem);
   font-weight: bold;
   color: white;
   background-color: #5003C0;
   border: none;
   font-family: "montserrat";
   border-radius: 5px;
   letter-spacing: 1px;
   cursor: pointer;
 }

 .location {
   font-family:"dm sans";
   padding: .4rem .4rem;
   border: 1px solid gray;
   border-radius: 5px;  
   font-size: clamp(1rem,3.5vw, 1.3rem);

 }


 .location::placeholder {
   font-weight: 500;
 }

 .output {
   width: 85%;
   max-width: 900px;
   margin: 0 auto ;
   margin-top: 3rem;
   display: flex;
   justify-content: space-between;
 }

 .first {
   display: flex;
   flex-direction: column;
   gap: 3rem;
 }

 .doer {
   display: flex;
   flex-direction: column;
   gap: .6rem;
 }

 .param {
   font-size: 1.1rem;
   font-weight: 700;
   color: #5003C0;
 }

 .answer {
   font-weight: 600;
   font-size: 1.2rem;
 }

 .second {
   display: flex;
   flex-direction: column;
   gap: 3rem;
 }

 .data {
  margin-top:40px;

 }




@media (min-width:600px) and (max-width:763px) {
  
   
 header {
    background-color: var(--var-blue);
    width: 90%;
    padding: 1rem;
    margin: 5% auto;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
 }

 header p {
    color: white;
    font-weight: 600;
 }


 main {
    margin: 15% auto;
    text-align: center;
 }

 .intro {
    font-family: "montserrat";
    font-size: clamp(2.3rem,5vw,5rem);
 }

 .service {
    font-weight: 600;
    margin-top: 1rem;
    color: rgb(104, 103, 103);
 }

 form {
   width: 70%;
   max-width: 900px;
   display: flex;
   align-items: center;
   justify-content: center;
   margin: 0 auto;
   margin-top: 3rem;
   gap: 1rem
 }


 .submit {
   padding: .5em .7em;
   font-size: clamp(.8rem,4.5vw,1.4rem);
   font-weight: bold;
   color: white;
   background-color: #5003C0;
   border: none;
   font-family: "montserrat";
   border-radius: 5px;
   letter-spacing: 1px;
   cursor: pointer;
 }

 .location {
   font-family:"dm sans";
   padding: .4rem .4rem;
   border: 1px solid gray;
   border-radius: 5px;  
   font-size: clamp(1rem,3.5vw, 1.3rem);

 }


 .location::placeholder {
   font-weight: 500;
 }

 .output {
   width: 85%;
   max-width: 900px;
   margin: 0 auto ;
   margin-top: 2rem;
   display: flex;
   flex-direction: column;
   gap: 3rem;
 }

 .first {
   display: flex;
   flex-direction: column;
   gap: 3rem;
 }

 .doer {
   display: flex;
   flex-direction: column;
   gap: .6rem;
 }

 .param {
   font-size: 1.1rem;
   font-weight: 700;
   color: #5003C0;
 }

 .answer {
   font-weight: 600;
   font-size: 1.2rem;
 }

 .second {
   display: flex;
   flex-direction: column;
   gap: 3rem;
 }

 .data {
  margin-top:40px;

 }

}



@media (min-width:500px) and (max-width:599px) {

  
 header {
    background-color: var(--var-blue);
    width: 90%;
    padding: 1rem;
    margin: 5% auto;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
 }

 header p {
    color: white;
    font-weight: 600;
 }


 main {
    margin: 15% auto;
    text-align: center;
 }

 .intro {
    font-family: "montserrat";
    font-size: clamp(2.3rem,5vw,5rem);
 }

 .service {
    font-weight: 600;
    margin-top: 1rem;
    color: rgb(104, 103, 103);
 }

 form {
   width: 70%;
   max-width: 900px;
   display: flex;
   align-items: center;
   justify-content: center;
   margin: 0 auto;
   margin-top: 3rem;
   gap: 1rem
 }


 .submit {
   padding: .5em .7em;
   font-size: clamp(.8rem,4.5vw,1.4rem);
   font-weight: bold;
   color: white;
   background-color: #5003C0;
   border: none;
   font-family: "montserrat";
   border-radius: 5px;
   letter-spacing: 1px;
   cursor: pointer;
 }

 .location {
   font-family:"dm sans";
   padding: .4rem .4rem;
   border: 1px solid gray;
   border-radius: 5px;  
   font-size: clamp(1rem,3.5vw, 1.3rem);

 }


 .location::placeholder {
   font-weight: 500;
 }

 .output {
   width: 85%;
   max-width: 900px;
   margin: 0 auto ;
   margin-top: 2rem;
   display: flex;
   flex-direction: column;
   gap: 3rem;
 }

 .first {
   display: flex;
   flex-direction: column;
   gap: 3rem;
 }

 .doer {
   display: flex;
   flex-direction: column;
   gap: .6rem;
 }

 .param {
   font-size: 1.1rem;
   font-weight: 700;
   color: #5003C0;
 }

 .answer {
   font-weight: 600;
   font-size: 1.2rem;
 }

 .second {
   display: flex;
   flex-direction: column;
   gap: 3rem;
 }

 .data {
  margin-top:40px;

 }

}


@media (min-width:400px) and (max-width:499px) {

  
 header {
    background-color: var(--var-blue);
    width: 90%;
    padding: 1rem;
    margin: 5% auto;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
 }

 header p {
    color: white;
    font-weight: 600;
 }


 main {
    margin: 15% auto;
    text-align: center;
 }

 .intro {
    font-family: "montserrat";
    font-size: clamp(2.3rem,5vw,5rem);
 }

 .service {
    font-weight: 600;
    margin-top: 1rem;
    color: rgb(104, 103, 103);
 }

 form {
   width: 70%;
   max-width: 900px;
   display: flex;
   align-items: center;
   justify-content: center;
   margin: 0 auto;
   margin-top: 3rem;
   gap: 1rem
 }


 .submit {
   padding: .5em .7em;
   font-size: clamp(.8rem,4.5vw,1.4rem);
   font-weight: bold;
   color: white;
   background-color: #5003C0;
   border: none;
   font-family: "montserrat";
   border-radius: 5px;
   letter-spacing: 1px;
   cursor: pointer;
 }

 .location {
   font-family:"dm sans";
   padding: .4rem .4rem;
   border: 1px solid gray;
   border-radius: 5px;  
   font-size: clamp(1rem,3.5vw, 1.3rem);

 }


 .location::placeholder {
   font-weight: 500;
 }

 .output {
   width: 85%;
   max-width: 900px;
   margin: 0 auto ;
   margin-top: 2rem;
   display: flex;
   flex-direction: column;
   gap: 3rem;
 }

 .first {
   display: flex;
   flex-direction: column;
   gap: 3rem;
 }

 .doer {
   display: flex;
   flex-direction: column;
   gap: .6rem;
 }

 .param {
   font-size: 1.1rem;
   font-weight: 700;
   color: #5003C0;
 }

 .answer {
   font-weight: 600;
   font-size: 1.2rem;
 }

 .second {
   display: flex;
   flex-direction: column;
   gap: 3rem;
 }

 .data {
  margin-top:40px;

 }

}


@media (min-width:300px) and (max-width:399px) {

 header {
    background-color: var(--var-blue);
    width: 90%;
    padding: 1rem;
    margin: 5% auto;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
 }

 header p {
    color: white;
    font-weight: 600;
 }


 main {
    margin: 15% auto;
    text-align: center;
 }

 .intro {
    font-family: "montserrat";
    font-size: clamp(2.3rem,5vw,5rem);
 }

 .service {
    font-weight: 600;
    margin-top: 1rem;
    color: rgb(104, 103, 103);
 }

 form {
   width: 70%;
   max-width: 900px;
   display: flex;
   align-items: center;
   justify-content: center;
   margin: 0 auto;
   margin-top: 3rem;
   gap: 1rem
 }


 .submit {
   padding: .5em .7em;
   font-size: clamp(.8rem,4.5vw,1.4rem);
   font-weight: bold;
   color: white;
   background-color: #5003C0;
   border: none;
   font-family: "montserrat";
   border-radius: 5px;
   letter-spacing: 1px;
   cursor: pointer;
 }

 .location {
   font-family:"dm sans";
   padding: .4rem .4rem;
   border: 1px solid gray;
   border-radius: 5px;
   font-size: clamp(1rem,3.5vw, 1.3rem);
 }


 .location::placeholder {
   font-weight: 500;
 }

 .output {
   width: 85%;
   max-width: 900px;
   margin: 0 auto ;
   margin-top: 2rem;
   display: flex;
   flex-direction: column;
   gap: 3rem;
 }

 .first {
   display: flex;
   flex-direction: column;
   gap: 3rem;
 }

 .doer {
   display: flex;
   flex-direction: column;
   gap: .6rem;
 }

 .param {
   font-size: 1.1rem;
   font-weight: 700;
   color: #5003C0;
 }

 .answer {
   font-weight: 600;
   font-size: 1.2rem;
 }

 .second {
   display: flex;
   flex-direction: column;
   gap: 3rem;
 }

 .data {
  margin-top:40px;

 }
}